<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cart page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/cartpage.css">
    <link rel="stylesheet" href="/static/productpage.css">

</head>
<body>

  <%-include('../layout/navbarhome')-%>

  
  

      <h1></h1>
    <section class="h-100 gradient-custom mt-5">
        <div class="container py-2">
          <div class="row d-flex justify-content-center my-0 ">
            <div class="col-md-8 ">
              <div class="card mb-0">
                
                <div class="card-body">

                  <div class="card-header py-3">
                    <h5 class="mb-0">Cart- items</h5>
                  </div>
                  <div class="form-outline flex-fill mb-0">
                    <%        
                    if(typeof message !=="undefined"){
                        %>
                     <h5 style="color:red;"><%= message %></h5>
                        <%
                      }
                   %>
                  </div>
           


        <%

                    if(cart.length>0){

                  cart?.forEach((carts,i)=>{
                   %>

                  <!-- Single item -->
                  <div class="row m">
                    <div class="col-lg-3 col-md-12 mb-0 mb-lg-0">
                      <!-- Image -->
                      <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
                        <img src="/productImages/<%=carts?.product_id?.images[0]%>" class="w-100" alt="Blue Jeans Jacket" />
                        <a href="#!">
                          <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                        </a>
                      </div>
                      <!-- Image -->
                    </div>
                    <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                      <!-- Data -->
                      <p><strong><%=carts?.product_id?.productname%></strong></p>
                      <p>Color: blue</p>
                      <p>Size:<%=carts?.product_id?.productsize%></p>

                      <button type="button" class="btn  btn-sm me-1 mb-2" data-mdb-toggle="tooltip"
                        title="Remove item">
                       

                        <a href="/deletecartitem?id=<%=carts._id %>"><i class="fas fa-trash text-white"></i></a>

                      </button>
                     
                      <!-- Data -->
                    </div>
      
                    <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                      <!-- Quantity -->
                      <div class="d-flex mb-4"   style="max-width: 300px;height: 40PX; ">
                        <button id="buttondown"    data-_id="<%=userCart[i].product_id%>"  data-product_id="<%=userCart[i]._id%>"  class="btn text-white px-3 me-2 decrease-quantity">
                          <i class="fas fa-minus"></i>
                        </button>
      
                        <div class="form-outline text-md-center">
                          <input disabled id="form1" min="0"  name="quantity" value="<%=userCart[i].qty%>" type="number" class="form-control text-md-center" />
                          <label class="form-label" for="form1">Quantity </label>
                        </div>
      
                        <button id="buttonUp"   min="1" data-_id="<%=userCart[i].product_id%>" data-product_id="<%=userCart[i]._id%>"  class="btn  text-white  px-3 ms-2 increase-quantity">
                          <i class="fas fa-plus"></i>
                        </button>
                      </div>

                      <BR></BR>
                      <!-- Quantity -->
      
                      <!-- Price -->
                      <p  class="text-start text-md-center">

                       
                        <strong  class="totalprice">₹<%=`${Number.parseInt(userCart[i].totalPrice)||userCart[i].price}`%></strong>
                        <!-- <strong  class="totalprice"> <%=userCart[i].price%> </strong> -->
                      </p>
                      <!-- Price -->
                    </div>
                  </div>

                  
      <%
    })



  }else{
    %>

    <h5  style="color: red;"  ><strong>Your cart is empty</strong></h5>
    
    <%
  }







    
    %>

  

  

 






                  
                  <!-- payment item -->
                  <div class="card mb-4">
                    <div class="card-body">
                      <p><strong>Expected shipping delivery</strong></p>
                      <p class="mb-0">12.10.2020 - 14.10.2020</p>
                    </div>
                  </div>
                  <div class="card mb-4 mb-lg-0">
                    <div class="card-body">
                      <p><strong>We accept</strong></p>
                      <img class="me-2" width="45px"
                        src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg"
                        alt="Visa" />
                      <img class="me-2" width="45px"
                        src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/amex.svg"
                        alt="American Express" />
                      <img class="me-2" width="45px"
                        src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg"
                        alt="Mastercard" />
                    </div>
                  </div>

                  payment item





                </div>
              </div>
            </div>

         

             

            <div class="col-md-4">
              <div class="card mb-4">
                <div class="card-header py-3">
                  <h5 class="mb-0">Summary</h5>
                </div>
                <div class="card-body">
                  <ul class="list-group list-group-flush">
                    <li
                      class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                      Total number of Products
                      <span id="buttonqty" ><%=qty%></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                      Shipping Charge
                      <span>0</span>
                    </li>
                    <li
                      class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                      <div>
                        <strong>Total amount</strong>
                        <strong>
                          <p class="mb-0">(including VAT)</p>
                        </strong>
                      </div>
   

                      <span  id="cartsum"><strong ><span>₹</span><%=`${ totalPrice || total || 0 }`%></strong></span>
                    </li>
                  </ul>

                  <%
                  if(cart.length==0){
                    %>
                    <button disabled type="button" id="check" class="btn btn-primary btn-lg btn-block">
                      <a class="text-white" style="text-decoration: none;">Go to checkout</a>
                      </button>

                    <%
                  }else{
                  %>
                  <button type="button" id="check" class="btn btn-primary btn-lg btn-block">
                    <a class="text-white" style="text-decoration: none;" href="/checkout">Go to checkout</a>
                    </button>
                  
          
                  <%


                  }

                  %>


      
                  
                </div>
              </div>
            </div>
          </div> 
        </div>
      </section>



      <%- include("../layout/navbarbottom.ejs")%>
 
    <script>
    // Use the fetch API to make a GET request
          const increaseButtons=Array.from(document.querySelectorAll(".increase-quantity"))       
          increaseButtons.forEach((btn)=>{
            btn.addEventListener('click',async function(){
              console.log(btn.closest(".d-flex").querySelector("#form1"));
            const inputQuantity= btn.closest(".d-flex").querySelector("#form1");
            let currentQuantity=Number.parseInt(inputQuantity.value)
            
                //  currentQuantity++;
                let prev=currentQuantity
            console.log(currentQuantity,'this is current quantity')
            if(prev != 0){
              currentQuantity++;
            }else{
              console.log(prev,currentQuantity,'this is my current and prev quAntity')
              return 
            }
                 
                //  inputQuantity.value=currentQuantity;
                console.log("started");
                    const innervalue =document.querySelector("#form1").innerHTML;
                  const res = await fetch(`/quantityup/${this.dataset.product_id}/${this.dataset._id}`,{
                  method:'POST',
                  headers:{
                    'Accept':'application/json',
                    'Content-Type':'application/json'
    
                  },
                  body:JSON.stringify({quantity:currentQuantity})  
                 })
                  console.log(res,"responce up");
                  
                   const responce = await res.json();
                              
                    if(responce.status=="outofstock"){            
                    const buttonup =document.getElementById("buttonUp");
                    // buttonup.setAttribute("disabled",true)
                    // return alert("out of stock")
                    return showAlert()
                 }else{
                      if(currentQuantity!=0){
                  // prevQ =currentQuantity
                  inputQuantity.value=currentQuantity;
                 }
                    }

                   const cart= await fetch("/usercart");
                   const cartdata=await cart.json();
                   console.log(cartdata,"dwedee");
                   document.querySelectorAll(".totalprice").forEach((el,i)=>{   
                      el.textContent= `₹${cartdata.currentuser.cart.items[i].totalPrice}`
                   })
                   

                   const cartsum= await fetch("/cartsum"); 
                   const cartsumdata=await cartsum.json(); 
                   console.log(cartsumdata,"total");                
                   document.getElementById("cartsum").innerHTML= `₹${cartsumdata.valueOne}`
                   document.getElementById("cartsum").style.fontWeight = "bold";

                   const cartquantity= await fetch("/quantity");
                   const cartquntitydata=await cartquantity.json();
                   document.getElementById("buttonqty").innerHTML= cartquntitydata.valueOne;

               


            })
  
          }) 

//     // Import SweetAlert
// import Swal from 'sweetalert2';

// Example usage of SweetAlert
function showAlert() {
  Swal.fire({
  icon: "error",
  // title: "Oops...",
  text: "Out of stock",
 
});
}

// Trigger the alert

function showalert() {
  Swal.fire({
  icon: "error",
  // title: "Oops...",
  text: "Minimum quantity One",
 
});
}





          const decreaseButtons=Array.from(document.querySelectorAll(".decrease-quantity"))

          decreaseButtons.forEach((btn)=>{
            btn.addEventListener('click',async function(){
              console.log(btn.closest(".d-flex").querySelector("#form1"));
            const inputQuantity= btn.closest(".d-flex").querySelector("#form1")
            let currentQuantity=Number.parseInt(inputQuantity.value)
            let prev=currentQuantity
            console.log(currentQuantity,'this is current quantity')
            if(prev != 0){
              currentQuantity--;
            }else{
              console.log(prev,currentQuantity,'thihs is my current and prev quAntity')
              return 
            }
                 const buttonup =document.getElementById("buttonUp");
                //  buttonup.removeAttribute("disabled");

                 console.log(this.dataset.product_id,"llllllooolllll");
                 
          // if(currentQuantity <! 0){
            console.log(currentQuantity,"hhhhhhhhhhhhhhh")
                 const res=await fetch(`/quantitydown/${this.dataset.product_id}/${this.dataset._id}`,{
                  method:'POST',
                  headers:{
                    'Accept':'application/json',
                    'Content-Type':'application/json'
    
                  },
                  body:JSON.stringify({quantity:currentQuantity})
                 })
                 const responce = await res.json();              
                    if(responce.status=="Quantityone"){            
                    const buttonup =document.getElementById("buttonUp");
                    // buttonup.setAttribute("disabled",true)
                    return  showalert()
                    }else{
                      // let currentQuantity=Number.parseInt(inputQuantity.value)
                 if(currentQuantity!=0){
                  prevQ =currentQuantity
                  inputQuantity.value=currentQuantity;
                 }
                    }
                  

                 console.log(res,"response down");

                 const cart= await fetch("/usercart");
                 console.log(cart);
                   const cartdata=await cart.json();
                   console.log(cartdata,"dwedee");
                   document.querySelectorAll(".totalprice").forEach((el,i)=>{
                      el.textContent=`₹${cartdata.currentuser.cart.items[i].totalPrice}`
                   })

                   const cartsum= await fetch("/cartsum");
                   const cartsumdata=await cartsum.json();
                   console.log(cartsumdata,"dwedee");
                   document.getElementById("cartsum").innerHTML= `₹${cartsumdata.valueOne}`


                   const cartquantity= await fetch("/quantity");
                   const cartquntitydata=await cartquantity.json();
                   document.getElementById("buttonqty").innerHTML= cartquntitydata.valueOne;
               
            })

          })


 </script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    
</body>
</html>