<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>

    <link rel="icon" type="image/x-icon" href="https://th.bing.com/th/id/OIP.okPHK-lOk_E5nzOZsGx2dwHaFI?w=251&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <!-- Bootstrap CSS -->
   <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
   <!-- <link href="css/bootstrap.min.css" rel="stylesheet">
   <link href="css/laptop.css" rel="stylesheet">
   <link href="css/card.css" rel="stylesheet"> -->
   <link rel="stylesheet" href="/static/productpage.css">
</head>
<body>
  
      <!-- Header-->
    <nav class="navbar navbar-expand-lg navbar-light bg-info">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand text-white" href="/home">Trend Hub</a>
        
            <nav class="navbar navbar-expand-lg navbar-light bg-info">
              
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link text-white" href="/home">Home <span class="sr-only">(current)</span></a>
                    </li>
                   
                    <li class="nav-item dropdown">


                    
                      <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Account
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/login">Login</a>
                      
                        <a class="dropdown-item" href="/register">Signup</a>
                        
                    </li>
                    <li class="nav-item">
                      <a class="nav-link disabled text-white" href="">Contact Us</a>
                    </li>
                  </ul>
            
                </div>
                
              </nav>
              <form class="d-flex">
                <button class="btn btn-outline-dark text-white" type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart3 text-white" viewBox="0 0 16 16">
                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                      </svg>
                    <a style="text-decoration: none;" class="text-white" href="/login">My cart</a>
                </button>
            </form>
                         
            </div> 
        </div>
    </nav>
    <!-- Header-->

    <!-- nav bar for filter sort -->
     <!-- head part nav -->
     <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
        <ul  class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Category 
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/game">Gamming</a>
              <a class="dropdown-item" href="/officetype">office</a>
              <a class="dropdown-item" href="/tablettype">Tablets</a>
              <a class="dropdown-item" href="/home">All models</a>
            </ul>
        </div>
       
    
  
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          </ul>

         



          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search">
            <button class="btn bg-light btn-outline-success  my-2 my-sm-0" type="submit">Search</button>
          </form>
           
           
         
        </div>
      </nav>

     <!-- head part nav -->






    <!-- nav bar for filter sort -->



  






  
    








    <header class="bg-light py-1">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-black">
                <h1 class="display-4 fw-bolder">Trend Hub</h1>
                <p class="lead fw-normal text-white-50 mb-0">With the new laptop collections</p>
                 
            </div>
        </div>
    </header>
   

    <div class="text-center" >
        <h3 class="display-4 fw-bolder pt-5">Products</h3>
       

    </div>
 
    <!-- Section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <% product.forEach((product, index) => { %>
                    <div class="col ml-5 mb-5">
                                          
     <div class="product-card">
      <div class="badge">Hot</div>
      <div class="product-tumb">
        <img src="/productImages/<%= product.images %>" alt="">
      </div>
      <div class="product-details">
        <span class="product-catagory">Laptops</span>
        <h4><a href=""></a><%= product.productname %></h4>
       
        <div class="product-bottom-details">
          <div class="product-price"><%='\u20B9'+ product.productprice%></div>
          <div class="product-links">
          
          </div>
        </div>

      </div>
        <div class="center"><button class="purchasebutton">Buy Now</button></div>
    </div>
                    </div>
                <% }); %>
                

                              
                       
                    </div>
                </div>
            </div>
        </div>
    </section>

    <br>
    <br>
    <div class="text-center ">
        <%
     for(let j=1;j<=totalpages;j++){
        %>

       <button class="btn btn-info"> <a class="text-white" style="text-decoration: none;" href="?page=<%=j%>"><%= j %></a></button>
      
        <%
        
     }
    %>
  
    </div>
    



    <br>
    <br>

    <!-- Footer-->
    <%- include("../layout/navbarbottom.ejs")%>

     <!-- Footer-->
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
    <script >
        function preback(){
      window.history.forward();
     }
    
     setTimeout("preback()",0);
    
       window.onunload=function(){null};
    </script>
</body>

   


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>