<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wallet</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/wallet.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-xrBf+Q6MO33stUOWns4xd1PdO9lO6N9fMEkppeyXg/BPyA/3/uhq2A1YY8Ai+NM2WYbJpAeQaARc8nu3R8Zf7g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  
    <link rel="stylesheet" href="/static/productpage.css">
</head>
<body>
      <%-include('../layout/navbarhome')-%>

      <style>
        /* Additional CSS styles for better layout */
        .card {
            overflow: hidden; /* Ensure the card does not overflow its container */
        }

        table {
            width: 100%; /* Make the table take the full width of its container */
            background-color: aliceblue;
        }

        th, td {
            text-align: center; /* Center align the text in header and cells */
        }

        td {
            max-width: 80%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding-right: 20px;
        }
    </style>
    <section class="vh-100 " style="background-color: #f4f5f7;">
      <div class="container-fluid py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
              <div class="col col-lg-6 mb-4 mb-lg-0">
                  <div class="card mb-2 " style="border-radius: .5rem; height: 80%; width: 1000px ;background-color: rgb(83, 80, 80); ">
                      <div class="row g-0">
                          <div  class="col-md-3  gradient-custom text-center text-white"
                              style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem; height: 400px;">
                              <h3 class="pt-5">Wallets</h3>
                              <p>Total Amount</p>
                              <h4 class="pt-5 pb-5">₹<%= total %></h4>
                              <i class="fas fa-wallet mb-5"></i>
                              <button class="p-1" style="background-color: rgb(215, 205, 205); border-radius:3px"><a style="text-decoration: none;color: rgb(44, 41, 41);" href="/aboutus">Back</a></button>
                          </div>
                          <div class="col-md-9" style="background-color: aliceblue;">
                              <div class="card-body ">
                                  <table class="table table-striped" style="background-color: aliceblue;">
                                      <thead>
                                          <tr style="color: rgb(93, 98, 99);">
                                              <th scope="col">No</th>
                                              <th scope="col">Wallet History</th>
                                              <th scope="col">Payment</th>
                                              <th scope="col">Date</th>
                                              <th scope="col">Description</th>
                                          </tr>
                                      </thead>
                                      <tbody>

                                       

                                       
                                          <%if(walet.walletHistory.length > 0){%>
                                       
                                         <% walet.walletHistory.forEach((walet, i) => { %>
                                              <tr>
                                                  <td scope="row"><%= i + 1 %></td>
                                                  <% if (walet.direction == '-') { %>
                                                      <td style="color: red;"><h6>₹<%= walet.amount %><%= walet.direction %></h6></td> 
                                                      <td>Wallet</td>
                                                  <% } else { %>

  
                                                      <td style="color: green;"><h6>₹<%= walet.amount %><%= walet.direction %></h6></td>
                                                       <td><%= walet.paymentMethod %></td>
                                                  <% } %>
                                                 
                                                  <td><%= walet.createdAt.toLocaleDateString() %></td>
                                                  <td style="color: green; max-width: 80%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding-right: 20px;">
                                                      <%= walet.description %></td>
                                              </tr>
                                          <% })}else{%>
                                            <td style="color: red;"><h4>No wallet history</h4></td>
                                            <%}%>
                                      </tbody>
                                  </table>
                                  
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

        
   
  









    <%- include("../layout/navbarbottom.ejs")%>
    
</body>
</html>